extends dashboard-breadcrumb-layout

block breadcrumb
    li.breadcrumb-item
        a(href="/project/" + pid + "/page/1") #{projectName}
    li.breadcrumb-item
        a(href="/build/" + bid) #{buildIndex}
    li.breadcrumb-item.active(aria-current="page") #{caseName}

block pageAction
    .d-flex.justify-content-end.align-items-center(style="height: 35px;")

        if baselineUrl || latestUrl
            button#openIgnoring.btn(type='button' data-toggle='modal' data-target='#ignoringModal')
                i.bi.bi-aspect-ratio.action-fbi(style="font-size: x-large")

        if baselineUrl && latestUrl
            button#openImageCompareModalButton.btn.image-compare-button.pr-3(type='button' data-toggle='modal' data-target='#imageCompareModal' disabled)
                i.fa.fa-images.fa-1x.action-fbi(aria-hidden='true')

        if diffPercentage
            .pr-3
                .font-weight-light.text-danger DP #{Number(diffPercentage * 100).toFixed(4)}%

        if caseResult === "passed"
             .pr-3(style="width: 48px;")
                 .d-flex.align-items-center.justify-content-center.icon-result-passed
                     ion-icon(name="checkmark-outline")
        else if caseResult === "failed"
            .pr-3(style="width: 48px;")
                .d-flex.align-items-center.justify-content-center.icon-result-failed
                    ion-icon(name="close-outline")



        .pl-2.pr-2.border-left.d-flex
            .d-flex.align-items-center.justify-content-center

                if prevCase !== null
                    a.d-flex.align-items-center.justify-content-center.font-weight-bold.case-nav-icon(href="/case/" + prevCase.cid)
                        ion-icon(name="arrow-back-outline")
                else
                    .d-flex.align-items-center.justify-content-center.font-weight-bold.case-nav-disabled-icon
                        ion-icon(name="arrow-back-outline")

                if nextCase !== null
                    a.d-flex.align-items-center.justify-content-center.font-weight-bold.case-nav-icon(href="/case/" + nextCase.cid)
                        ion-icon(name="arrow-forward-outline")
                else
                    .d-flex.align-items-center.justify-content-center.font-weight-bold.case-nav-disabled-icon
                        ion-icon(name="arrow-forward-outline")



        .pl-3.pr-1.border-left
            if caseResult === "passed"
                form.mb-0(action="/case/pass/" + cid method="post")
                    button#pass-case-button.btn.btn-sm.btn-outline-success(disabled type="submit") Passed
            else
                form.mb-0(action="/case/pass/" + cid method="post")
                    button#pass-case-button.btn.btn-sm.btn-outline-success(type="submit") Passed
        .pl-2.pr-1
            if caseResult === "failed"
                form.mb-0(action="/case/fail/" + cid method="post")
                    button#pass-case-button.btn.btn-sm.btn-outline-danger(disabled type="submit") Failed
            else
                form.mb-0(action="/case/fail/" + cid method="post")
                    button#pass-case-button.btn.btn-sm.btn-outline-danger(type="submit") Failed

    #imageCompareModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageCompareModalLabel' aria-hidden='true')
      .modal-dialog.image-compare-modal-dialog(role='document')
        .modal-content.image-compare-modal-content
          .modal-header.image-compare-modal-header
            h5.modal-title Image compare
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body.image-compare-modal-body
            #image-compare
              img#image-compare-baseline(src=baselineUrl alt='')
              img#image-compare-latest(src=latestUrl alt='')
          .modal-footer

    #ignoringModal.modal.fade(tabindex='-1' aria-labelledby='ignoringModalLabel' aria-hidden='true')
          .modal-dialog.ignoring-modal-dialog
            .modal-content
              .modal-header.d-flex.align-items-center
                p#exampleModalLabel.modal-title Edit Ignoring
                .d-flex.align-items-center
                  .pr-4.border-right
                    #ignoringSaveSpinner.spinner-border.spinner-border-sm.text-info.disabled(role='status')
                          span.sr-only Loading...
                    button#removeRectangle.btn.btn-outline-danger.ignoring-modal-title-action(type='button')
                      i.bi.bi-eraser
                    button#updateIgnoring.btn.btn-outline-success.ignoring-modal-title-action(type='button' data-pid=pid data-caseName=caseName)
                      i.bi.bi-save
                  button#closeIgnoringModal.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
              .modal-body.p-0
                #ignoring-area
                  img#screenshot(width='100%' height='100%' src=baselineUrl || latestUrl draggable='false')
                  svg#draw(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg')
                    rect#marquee(x='450' y='420' width='150' height='150')
                    g#boxes
                      each rectangle in rectangles
                        rect(x=rectangle.x y=rectangle.y width=rectangle.width height=rectangle.height)

block main
    case view
        when 1
            .table-container.pl-3.pr-3.pt-5.pb-5
                .row.justify-content-center
                    .col-10.d-flex.justify-content-center
                        figure.figure
                            figcaption.figure-caption.text-center.font-weight-light.pb-2 Latest
                            img#latest.img-fluid(src=latestUrl alt="latest-image")
        when 2
            .table-container.pl-3.pr-3.pt-5.pb-5
                .row.justify-content-center
                    .col-5.d-flex.justify-content-center
                        figure.figure
                            figcaption.figure-caption.text-center.font-weight-light.pb-2 Baseline
                            img#baseline.img-fluid(src=baselineUrl alt="baseline-image")
                    .col-5.d-flex.justify-content-center
                        figure.figure
                            figcaption.figure-caption.text-center.font-weight-light.pb-2 Latest
                            img#latest.img-fluid(src=latestUrl alt="latest-image")
        default
            .table-container.pl-3.pr-3.pt-5.pb-5
                .row
                    .col-4.d-flex.justify-content-center
                        figure.figure
                            figcaption.figure-caption.text-center.font-weight-light.pb-2 Baseline
                            img#baseline.img-fluid(src=baselineUrl alt="latest-image")
                    .col-4.d-flex.justify-content-center
                        figure.figure
                            figcaption.figure-caption.text-center.font-weight-light.pb-2 Diff
                            .overlay-container
                                div
                                    img.img-fluid(src=latestUrl alt="overlay-latest")
                                .overlay
                                .overlay
                                    img.img-fluid(src=diffUrl alt="overlay-diff")
                    .col-4.d-flex.justify-content-center
                        figure.figure
                            figcaption.figure-caption.text-center.font-weight-light.pb-2 Latest
                            img#latest.img-fluid(src=latestUrl alt="latest-image")

    #baselineModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='baselineModalTitle' aria-hidden='true')
          .modal-dialog.modal-dialog-enlarge(role='document')
            .modal-content
              .modal-header
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                img(src=baselineUrl style='max-width: 100%;')

    #latestModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='latestModalTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-enlarge(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            img(src=latestUrl style='max-width: 100%;')

    script(src="/public/javascript/jquery-3.5.1.slim.min.js" crossorigin="anonymous")
    script(src="/public/javascript/bootstrap.bundle.min.js" crossorigin="anonymous")
    script(src='/public/javascript/image-compare-viewer.min.js' crossorigin="anonymous")
    script(src='/public/javascript/image-compare.js' crossorigin="anonymous")
    script(src='/public/javascript/ignoring.js' crossorigin="anonymous")
    script(src='/public/javascript/wheelzoom.js' crossorigin="anonymous")
    script(src='/public/javascript/image-display.js' crossorigin="anonymous")
    script.
      applyImageDisplay();
      createImageCompareModal();
      enableIgnoring();
