doctype html
html(lang="en")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Bootstrap CSS
        link(rel="stylesheet" href=contextPath + "/public/stylesheets/bootstrap.min.css" crossorigin="anonymous")
        link(rel="stylesheet" href=contextPath + "/public/stylesheets/bootstrap-icons.css" crossorigin="anonymous")
        // Icon
        link(rel="stylesheet" href=contextPath + "/public/stylesheets/fontawesome.all.min.css" crossorigin="anonymous")
        // Image Compare
        link(rel='stylesheet' href=contextPath + '/public/stylesheets/image-compare-modal.css' crossorigin="anonymous")
        link(rel='stylesheet' href=contextPath + '/public/stylesheets/image-compare-viewer.min.css' crossorigin="anonymous")
        // Image Ignoring
        link(rel='stylesheet' href=contextPath + '/public/stylesheets/ignoring.css' crossorigin="anonymous")
        // Image Modal Enlarge
        link(rel='stylesheet' href=contextPath + '/public/stylesheets/image-enlarge-modal.css' crossorigin="anonymous")
        // Bootstrap Javascript
        script(src=contextPath + "/public/javascript/jquery-3.5.1.slim.min.js" crossorigin="anonymous")
        script(src=contextPath + "/public/javascript/bootstrap.bundle.min.js" crossorigin="anonymous")
        title Micoo
        style.
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        // expressing dashboard default javascript
        script(async="" src=contextPath + "/public/javascript/app.js")
        // expressing dashboard default style
        link(href=contextPath + "/public/stylesheets/app.css" rel="stylesheet")
    header
        #navbarHeader.bg-dark.collapse(style="")
            .container
                .row
                    .col-sm-8.col-md-7.py-4
                        h4.text-white About
                        p.text-muted
                            | Micoo is a screenshot pixel compare service, which provides simple but convenient usages in visual regression testing. Micoo is composed of:
                            a(href="https://github.com/Prior99/native-image-diff#readme")  Native-image-diff
                            | ,
                            a(href="https://expressjs.com/")  ExpressJS
                            | ,
                            a(href="https://getbootstrap.com/")  Bootstrap
                            | ,
                            a(href="https://pugjs.org/")  Pug
                            | ,
                            a(href="https://www.mongodb.com/")  MongoDB
                            |  and many other works.
                    .col-sm-4.offset-md-1.py-4
                        h4.text-white Project
                        ul.list-unstyled
                              li
                                p.font-weight-lighter.text-muted welcome to provide feedback on the project home page, and thanks for your Star if you like Micoo
                              li
                                a.text-white(href='https://github.com/Mikuu/Micoo')
                                  ion-icon(size='large' name='logo-github')
        .navbar.navbar-dark.bg-dark.shadow-sm.navbar-justify
            .container.d-flex.justify-content-between
                a.navbar-brand.d-flex.align-items-center(href=contextPath + "/")
                    h2 Micoo
                .pl-2.pr-2.d-flex
                    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarHeader' aria-controls='navbarHeader' aria-expanded='false' aria-label='Toggle navigation')
                        ion-icon(name='grid-outline')
                    form.ml-3.mb-0.align-self-center(action=contextPath + '/auth/logout' method='post')
                        button#log-out-outline.navbar-toggler.collapsed(type='submit')
                            ion-icon(name='log-out-outline')

    block body

    script(src=contextPath + "/public/javascript/ionicons.js")
    script(src=contextPath + "/public/javascript/bs-custom-file-input.min.js")
    footer.text-muted.text-center.font-weight-light
        .container
            p save your time by automation, spend it more in exploring
