doctype html
html(lang="en")
  head
      // Required meta tags
      meta(charset="utf-8")
      //- meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      // Bootstrap CSS
      link(rel="stylesheet" href=contextPath + "/public/stylesheets/bootstrap.min.css" crossorigin="anonymous")
      // Icon
      //- link(rel="stylesheet" href="public/stylesheets/fontawesome.all.min.css" crossorigin="anonymous")
      title Micoo
  body#grid.d-flex.flex-column.align-items-center
    .mt-auto.text-center
      block content
    .mt-auto
      footer.text-muted.text-center.font-weight-light
        .container
          p save your time by automation, spend it more in exploring
  script(src=contextPath + "/public/javascript/aes.js")
  script(src=contextPath + "/public/javascript/en.js")
  link(href=contextPath + '/public/stylesheets/signin.css' rel='stylesheet')
  link(href=contextPath + '/public/stylesheets/bg.css' rel='stylesheet')
  script(src=contextPath + "/public/javascript/jquery-3.5.1.slim.min.js" crossorigin="anonymous")
      script.
          window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"><\\/script>')
  script(src=contextPath + "/public/javascript/popper.min.js" crossorigin="anonymous")
  script(src=contextPath + "/public/javascript/bootstrap.min.js" crossorigin="anonymous")
  script(src=contextPath + "/public/javascript/bootstrap.bundle.min.js" crossorigin="anonymous")

